<page-header [action]="phActionTpl">
  <ng-template #phActionTpl>
    <button nz-button nzType="primary" (click)="add()">新建</button>
    <button nz-button nzType="primary" (click)="edit()">修改</button>
    <button nz-button nzType="primary" (click)="delete()">删除</button>
    <button nz-button nzType="primary" (click)="loadDatas()">重载</button>
  </ng-template>
</page-header>
<nz-card>
  <h4 *ngIf="nodes === null">当前数据为空！</h4>
  <nz-tree [nzData]="nodes" nzShowLine="true" nzCheckable [nzCheckedKeys]="defaultCheckedKeys" [nzExpandedKeys]="defaultExpandedKeys"
    [nzSelectedKeys]="defaultSelectedKeys" (nzCheckBoxChange)="nzCheck($event)" (nzClick)="nzEvent($event)">
  </nz-tree>
</nz-card>
