<nz-spin [nzSpinning]="loading">
  <nz-card>
    <nz-alert nzType="info" [nzMessage]="msgTitle" [nzDescription]="msgDes" nzShowIcon>
    </nz-alert>
    <br />
    <sf mode="search" [schema]="searchSchema" (formSubmit)="search($event)" (formReset)="reset($event)"></sf>
    <st #st [data]="list" [columns]="columns" [bordered]="true" [rowClickTime]="0" [page]="stPage"
      (change)="_click($event)" [total]="total">
      <ng-template st-row="name" let-item let-index="index">
        <nz-tag [nzColor]="item.tagColor"><i nz-icon [type]="item.icon" theme="outline"></i>&nbsp;{{item.name}}
        </nz-tag>
      </ng-template>
      <ng-template st-row="intro" let-item let-index="index">
        <ellipsis length="20" tooltip>{{ item.intro }}</ellipsis>
      </ng-template>
      <ng-template st-row="custom" let-item let-index="index">
        <nz-switch [ngModel]="item.active" nzCheckedChildren="开" nzUnCheckedChildren="关" (click)="active(item)">
        </nz-switch>
      </ng-template>
    </st>
  </nz-card>
</nz-spin>
