<page-header [action]="phActionTpl">
  <ng-template #phActionTpl>
    <button nz-button nzType="primary" (click)="addModule()"><i nz-icon type="plus" theme="outline"></i>添加模块</button>
  </ng-template>
</page-header>

<div nz-row>
  <div nz-col nzSpan="14">
    <nz-card>
      <sf mode="search" [schema]="searchSchema" (formSubmit)="search($event)" (formReset)="reset($event)"></sf>
      <st #st [data]="datas" [columns]="columns" (change)="rowClick($event)" [bordered]="true">
        <ng-template st-row="name" let-item let-index="index">
            <nz-tag [nzColor]="item.tagColor">{{item.name}}</nz-tag>
        </ng-template>
        <ng-template st-row="custom" let-item let-index="index">
          <nz-switch [ngModel]="item.active" nzCheckedChildren="开" nzUnCheckedChildren="关"></nz-switch>
        </ng-template>
      </st>
    </nz-card>
  </div>
  <div nz-col nzSpan="1"></div>
  <div nz-col nzSpan="9">
    <app-permission-operation #pmsopt></app-permission-operation>
  </div>
</div>
