<nz-spin [nzSpinning]="userLoading">
  <div class="main" >
    <div class="left">
      <sf #sf mode="edit"  [schema]="schema" [formData]="info" button="none">
        <button nz-button style="display:block;margin:0 auto" type="submit" [nzType]="'primary'" (click)="submit(sf.value)" [disabled]="!sf.valid">保存</button>
      </sf>
    </div>
    <div class="right">
      <div class="avatar_title">头像:</div>
      <!-- <div class="avatar"><img src="{{user.avatar}}" alt="Avatar"></div> -->
      <nz-avatar [nzSize]="130" [nzShape]="'circle'" [nzSrc]="avatar"></nz-avatar>
      &nbsp;&nbsp;&nbsp;
      <nz-upload [nzShowUploadList]="false">
        <button nz-button class="button_view">
          <i nz-icon type="upload"></i>
          <span>更换头像</span>
        </button>
      </nz-upload>
    </div>
  </div>
</nz-spin>
