<div class="container">
  <header-i18n showLangText="false" class="langs"></header-i18n>
  <div class="wrap">
    <div class="top">
      <div class="head">
        <img class="logo" src="./assets/logo-color.svg">
        <span class="title">Sun-Pandora</span>
      </div>
      <div class="desc">人、代码、生活。你所向往的，就是你应为之努力的！</div>
    </div>
    <router-outlet></router-outlet>
    <global-footer [links]="links">
      基于
      <a href="https://github.com/cipchk" target="_blank">ng-alian</a>
      以及
      <a href="https://ng.ant.design/docs/introduce/zh" target="_blank">ng-zorro</a>
      组件库
      开发的前端系统：Pandora；开发者：
      <a href="https://github.com/zrSunHao" target="_blank">孙浩</a>
      ；
      联系方式：2080680175@qq.com
    </global-footer>
  </div>
</div>
