<page-header [action]="phActionTpl">
  <ng-template #phActionTpl>
    <button nz-button nzType="primary">保存</button>
  </ng-template>
</page-header>
<nz-card>
  <nz-table #basicTable [nzData]="listOfData" [nzBordered]="true" [nzFrontPagination]="false" [nzShowPagination]="false">
    <thead>
      <tr>
        <th [nzAlign]="'left'" nzWidth="230px">模块</th>
        <th [nzAlign]="'left'">操作权限</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of basicTable.data">
        <td [nzAlign]="'left'">
          <label nz-checkbox [(ngModel)]="item.ckecked" (click)="checkModule(item)">
            {{item.name}}
          </label>
        </td>
        <td [nzAlign]="'left'">
          <label nz-checkbox [(ngModel)]="operate.ckecked" (click)="checkOperate(operate)" *ngFor="let operate of item.children">
            {{operate.name}}
          </label>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>
