<page-header [title]="'角色权限配置'" [action]="phActionTpl">
  <ng-template #phActionTpl>
    <button nz-button nzType="primary" (click)="save()"><i nz-icon type="save" theme="outline"></i>提交</button>
    <button (click)="back()" nz-button nzType="primary"><i nz-icon type="arrow-left" theme="outline"></i>返回</button>
  </ng-template>
</page-header>
<nz-card>
  <nz-alert nzType="info" nzMessage="保存之后API权限检测会立即生效，但前端页面需刷新两次之后才能生效，否则会出现未显示授权操作的现象或提示403（未授权）错误！" nzShowIcon>
  </nz-alert>
  <br/>
  <br/>
  <nz-table #basicTable [nzData]="listOfData" [nzBordered]="true" [nzFrontPagination]="false" [nzShowPagination]="false">
    <thead>
      <tr>
        <th [nzAlign]="'left'" nzWidth="230px">页面</th>
        <th [nzAlign]="'center'" nzWidth="230px">模块</th>
        <th [nzAlign]="'left'">操作权限</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of basicTable.data">
        <td [nzAlign]="'left'">
          <label nz-checkbox [(ngModel)]="item.checked" (click)="checkModule(item)">
            {{ item.name }}
          </label>
        </td>
        <td [nzAlign]="'center'">
          <nz-tag [nzColor]="item.menuTagColor"><i nz-icon [type]="item.menuIcon" theme="outline"></i>&nbsp;{{item.menuName}}
          </nz-tag>
        </td>
        <td [nzAlign]="'left'">
          <label nz-checkbox [(ngModel)]="permission.checked" (click)="checkOperate(permission)" *ngFor="let permission of item.permissions">
            {{ permission.name }}
          </label>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>
